#container {
  background-color: white;
  width: 65%;
  height: 100%;
  margin: 1rem auto 4rem auto;
  border-radius: 10px;
  font-family: var(--tb-ft-family);
  padding-top: 2rem;
  padding-bottom: 3rem;
  margin-top: 5rem;
}

.input {
  width: 8rem;
  border: solid 1px;
  margin-top: 0.3rem;
  margin-left: 0.3rem;
  border-radius: 5px;
  height: 1.5rem;
  text-indent: 0.5rem;
}

#select {
  width: 8rem;
  border: solid 1px;
  margin-top: 0.3rem;
  margin-left: 0.3rem;
  border-radius: 5px;
  height: 1.6rem;
  text-indent: 0.5rem;
}