* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 9%);
  font-family: 'Abel', sans-serif;
  color: white;
}

#menu-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.4fr 1.5fr 0.8fr 1fr;
  grid-gap: 1rem;
  justify-content: center;
  width: 65%;
  height: 100%;
  padding: 3rem 3rem;
  margin: 2rem auto;
  border-radius: 10px;
  font-family: var(--tb-ft-family);
  background-color: #030202;
}

.item {
  text-align: center;
  padding-bottom: 2rem;
}

#section-title {
  font-size: 42px;
}

.recipe-detail {
  text-align: left;
  font-size: 24px;
}

.recipe-title {
  font-weight: bold;

}

.recipe-title::after {
  margin-left: 8rem;
  content: "₡5000";
}

.recipe-text {
  font-size: 20px;
}

.recipe-list {
  text-align: left;
  font-size: 22px;
}

li {
  list-style: none;
}

#img-2 {
  position: relative;
  right: 6px;

  margin-top: 2.3rem;
}
